body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("car.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    display: flex;
}

h1 {    
    position: absolute;
    text-align: center;
    top: 2px;
    color: #ffffff;
}

form {
    width: max-content;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 50px;
    padding-right: 50px;
    border-radius:20px;
    padding-top: 10px;
}

.field-name {
    padding: 10px 0;
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
}

.field {
    padding: 2px 0;
}

.form-container {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    min-height:max-content;
    color:#33FFDA;
    
}

.field input[type=number]{
    width:200px;
    background-color:#eeeef0;
    font-size:15px;
    padding:5px 10px;
    color:black;
    border-radius:20px;
    border:none;
}

.submit-btn{
    font-size:15px;
    padding:10px 30px;
    color:black;
    background-color:white;
    border-radius:20px;
    border:none;
    display:block;
    margin:20px auto;
    cursor: pointer;
}

.submit-btn:hover{
    color: white;
    background-color: black;
    border: none;
}

.result{
    text-align:center;
    font-size:20px;
    color:white;
    margin-top: 0;
    text-decoration: underline;
}

.answer{
    color:#ffffff;
    font-weight:bolder;
}

.makers{
    margin-top: 0%;
    text-align: center;
    color: white;
    font-size:15px;
}
